<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/main.css">
</head>

<body>
  <div class="menu-container">
    <script src='/js/helpers.js'></script>
    <script src='/js/menu.js'></script>
    <menu-bar menuItemsNames="home,saved-posts,explore" menuItemsLinks="/,/history,/explore" title="Tidder"></menu-bar>

    {# <button onclick="Helpers.generateIdentityScopeUrl()">Allow Identity</button>
    <button onclick="Helpers.getAboutMe()">Login</button>
    <button onclick="Helpers.generateHistoryScopeUrl()">Allow History</button>
    <button onclick="Helpers.getSavedItems()">Load Saved Items</button>
    <button onclick="Helpers.testHistoryUI()">TEST HISTORY UI LIB</button> #}
  </div>
    {% block main %}
    {{ content | safe }}
    <div id="home-text" class="home-text-container">
      <div class="text-item">{{ header1_p1 }}<span style="color:#FAC762">{{ title }}</span>{{ header1_p2 }}</div>
      <div class="text-item"> {{ header2 }} </div>
      <button class="login-button" onclick="Helpers.generateIdentityScopeUrl()"><img id="login-img" src="/assets/login.svg"></button>
    </div>
    {% endblock %}
</body>

</html>