<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/main.css">
  <script src="/js/env.js" type="module"></script>
  <script src='/js/helpers.js' type="module"></script>
  <script src='/js/menu.js'></script>
  <script src={{ env.historyTableUrl }} charset="utf-8"></script>
</head>

<body>
  <div class="menu-container">
    <menu-bar menuItemsNames="home,saved-posts,explore" menuItemsLinks="/,/history,/explore" title="Tidder"></menu-bar>
  </div>
    {% block main %}
    {{ content | safe }}
    <div id="home-text" class="home-text-container" style="display: none;">
      <div class="text-item">{{ header1_p1 }}<span style="color:#FAC762">{{ title }}</span>{{ header1_p2 }}</div>
      <div class="text-item"> {{ header2 }} </div>
      <button type="submit" id="login-btn" class="login-button"><img id="login-img" src="/assets/login.svg"></button>
    </div>
    {% endblock %}
</body>

</html>