{% extends "base.njk" %}
{% block main %}
  {# <h2>{{ pageTitle }} </h2> #}
  <div style="max-height: 90%; margin: auto; margin-left: 0px; margin-top: 0px;">
    <raven-history-table id="raven-history-saved-items"></raven-history-table>
  </div>
{% endblock %}