{% extends "base.njk" %}
{% block main %}
  <script src="/js/history/history-table.js" charset="utf-8"></script>
  <h2>{{ pageTitle }} </h2>
  <raven-history-table id="raven-history-saved-items"></raven-history-table>
{% endblock %}