{% extends "base.njk" %}
{% block main %}
  <div> History - Saved Items </div>
  <div style="max-height: 85%; margin: auto; margin-left: 0px; margin-top: 0px;">
    <raven-history-table id="raven-history-saved-items"></raven-history-table>
  </div>
{% endblock %}